/*************** COLORES ****************
#aca569
#c8ac75

************** COLORES *****************/


/***************
 HEADER
***************/
.fondo__header {
  background-color: #aca569;
  height: 250px;
  overflow: hidden;
}
/***************
 FIN HEADER
***************/


/***************
 NAV BAR
***************/
.fondo__nav__bar {
  background-color: #c8ac75;
}
/***************
 FIN NAV BAR
***************/



/***************
 CONTENT
***************/

/* Saludo Bienvenida */

/* FIN Saludo Bienvenida */
 


/* CARRUSEL CON PROMOCIONES */
  
/* FIN CARRUSEL */


/* LO MAS NUEVO */
.lo_mas_nuevo {
  width: 18rem;
}
/* FIN LO MAS NUEVO */





/* ENVIOS A TODO EL PAIS */
#envios__imagen {
  width: 70%;
  border-radius: 15px;
}


/* FIN ENVIOS A TODO EL PAIS */

/***************
FIN CONTENT
***************/



/***************
 FOOTER
***************/
.fondo__footer {
  background-color: linear-gradient(rgba(255, 255, 255, 0.1), rgba(250, 235, 215, 1.0));
  background-image: url('../images/footer__wave.svg');
  background-size: cover;
  background-position: center center;
  
}

/* LOGO */
.footer__loguito {
  width: 200px;
  height: auto;

}

/* REDES */
.iconos__redes {
  font-size: 3rem;  
}

/* INFO */
#footer__info-Block {

}




/***************
FIN FOOTER
***************/





/* RESPONSIVE
========================================================================= */

/* Media Queris */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	
   /* seccion Welcome */
   #welcome__mensaje {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 24rem;
   }
  
   /* seccion footer */
   #footer__loguito {
    display: none;
   }
   .footer__info {
   }

   #footer__info__Block {
    margin-top: 1rem;
    margin-left: auto;
   }

   #footer__redes {
    margin-top: 1rem;
    margin-right: auto;
   }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

/* seccion Welcome */
#welcome__mensaje {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 400px;
 }

 /* seccion footer */
 #footer__loguito {
  display: none;
 }
 .footer__info {
  margin-top: 0;
 }
 #footer__redes {
  padding: 0; 
 }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

   
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

   /* seccion Welcome*/
   #welcome__mensaje {
   position: relative;
   top: 0px;
    }
  
   /* seccion Footer*/
   #footer__loguito {
   display: inherit;
   }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	
}