/*************** COLORES ****************
#aca569
#c8ac75

************** COLORES *****************/


/***************
 HEADER
***************/
.fondo__header {
  background-color: #aca569;
  height: 250px;
  overflow: hidden;
}
/***************
 FIN HEADER
***************/


/***************
 NAV BAR
***************/
.fondo__nav__bar {
  background-color: #c8ac75;
}
/***************
 FIN NAV BAR
***************/



/***************
 CONTENT
***************/

/* Saludo Bienvenida */

/* FIN Saludo Bienvenida */
 


  /* TARJETAS DEL CARRUSEL */
  /* Terjata ALFA */
  #carrusel__ejemploA{
    background-color: #cea98e;
    width: 100%;
    height: 450px;
    overflow: hidden;
  }
  #ejemploA__foto{
    width: 80%;
    border-radius: 50%;
    position: relative;
    right: -600px;
    top: -20rem;
  }
  #ejemploA__texto-UNO{
    position: absolute;
    top: 30px;
    left: 120px;
    font-size: 20px;
    color: white;
    font-weight: 100;
  }
  #ejemploA__texto-DOS{
    position: absolute;
    top: 100px;
    left: 150px;
    font-size: 60px;
    color: white;
    font-weight: 600;
  }
  .ejemploA__texto-burbujas{
    border: solid 3px white;
    border-radius: 50px;
    width: 14rem;
    height: auto;
  }
  #ejemploA__texto-TRES{
    color: white;
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
    position: absolute;
    top: 230px;
    left: 380px;
  }
  #ejemploA__texto-CUATRO{
    background-color: white;
    color: #cea98e;
    font-size: 30px;
    font-weight: 500;
    padding: 10px;
    position: absolute;
    top: 230px;
    left: 140px;
  }
  #ejemploA__texto-CINCO{
    position: relative;
    top: 400px;
    left: 120px;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 3px 1px white;
  }
/* Terjata BETA */
#carrusel__ejemploB{
  background-color: #cea98e;
  background-image: url(../images/placeholder002.jpg);
  width: 100%;
  height: 450px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background-size: cover;
  background-position: center center;
}
#ejemploB__foto{
 width: 100%;
 z-index: 5;
}
#ejemploB__mitad--UNO{
z-index: 10;
width: 50%;
height: 150%;
position: relative;
top: -80px;
left: -250px;
transform: rotate(10deg);
background-image: radial-gradient(circle at center bottom, #ffffff, #a6ccf0);

 
}
#ejemploB__texto-UNO{
    position: absolute;
    top: 30px;
    left: 120px;
    font-size: 20px;
    color: gray;
    font-weight: 400;
    z-index: 15;
}
#ejemploB__texto-DOS{
    position: absolute;
    top: 100px;
    left: 200px;
    font-size: 60px;
    color: gray;
    font-weight: 600;
    z-index: 15;
    text-shadow: 3px 3px black;
}
.ejemploB__texto-burbujas{
    border: solid 3px white;
    border-radius: 50px;
    width: 14rem;
    height: auto;
}
  #ejemploB__texto-TRES{
    color: gray;
    background-color: #fff;
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
    position: absolute;
    top: 230px;
    left: 380px;
    z-index: 15;
}
#ejemploB__texto-CUATRO{
    background-color: gray;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    padding: 13px;
    position: absolute;
    top: 230px;
    left: 140px;
    z-index: 15;
}
#ejemploB__texto-CINCO{
    position: relative;
    top: 390px;
    left: -500px;
    font-size: 30px;
    font-weight: 600;
    color: gray;
    text-shadow: 3px 1px black;
    z-index: 15;
}
/* Terjata GAMMA */
#carrusel__ejemploC{
  background-color: #cea98e;
  background-image: url(../images/placeholder004.jpg);
  width: 100%;
  height: 450px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background-size: cover;
  background-position: center center;
}
#ejemploC__foto{
 width: 100%;
 z-index: 5;
}
#ejemploC__mitad--UNO{
z-index: 10;
width: 50%;
height: 150%;
position: relative;
top: -80px;
right: -700px;
transform: rotate(10deg);
background-image: radial-gradient(circle at center bottom, #ffffff, #e6a6f0); 
}
#ejemploC__texto-UNO{
    position: absolute;
    top: 30px;
    right: 250px;
    font-size: 20px;
    color: gray;
    font-weight: 400;
    z-index: 15;
} 
#ejemploC__texto-DOS{
    position: absolute;
    top: 100px;
    right: 150px;
    font-size: 60px;
    color: gray;
    font-weight: 600;
    z-index: 15;
    text-shadow: 3px 3px black;
}
.ejemploC__texto-burbujas{
    border: solid 3px white;
    border-radius: 50px;
    width: 15rem;
    height: auto;
}
#ejemploC__texto-TRES{
    color: gray;
    background-color: #fff;
    font-size: 25px;
    font-weight: 600;
    padding: 10px;
    position: absolute;
    top: 230px;
    right: 120px;
    z-index: 15;
}
#ejemploC__texto-CUATRO{
    background-color: gray;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    padding: 13px;
    position: absolute;
    top: 230px;
    right: 400px;
    z-index: 15;
}
#ejemploC__texto-CINCO{
    position: relative;
    top: 390px;
    right: -60px;
    font-size: 30px;
    font-weight: 600;
    color: gray;
    text-shadow: 2px 1px black;
    z-index: 15;
}
/* FIN CARRUSEL */







/* LO MAS NUEVO */
.lo_mas_nuevo {
  width: 18rem;
}
/* FIN LO MAS NUEVO */





/* ENVIOS A TODO EL PAIS */
#envios__imagen {
  width: 70%;
  border-radius: 15px;
}


/* FIN ENVIOS A TODO EL PAIS */

/***************
FIN CONTENT
***************/



/***************
 FOOTER
***************/
.fondo__footer {
  background-color: linear-gradient(rgba(255, 255, 255, 0.1), rgba(250, 235, 215, 1.0));
  background-image: url('../images/footer__wave.svg');
  background-size: cover;
  background-position: center center;
  
}

/* LOGO */
.footer__loguito {
  width: 200px;
  height: auto;

}

/* REDES */
.iconos__redes {
  font-size: 3rem;  
}

/* INFO */
#footer__info-Block {

}




/***************
FIN FOOTER
***************/





/* RESPONSIVE
========================================================================= */

/* Media Queris */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	
   /* seccion Welcome */
   #welcome__mensaje {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 24rem;
   }
  
   /* seccion footer */
   #footer__loguito {
    display: none;
   }
   .footer__info {
   }

   #footer__info__Block {
    margin-top: 1rem;
    margin-left: auto;
   }

   #footer__redes {
    margin-top: 1rem;
    margin-right: auto;
   }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

/* seccion Welcome */
#welcome__mensaje {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 400px;
 }

 /* seccion footer */
 #footer__loguito {
  display: none;
 }
 .footer__info {
  margin-top: 0;
 }
 #footer__redes {
  padding: 0; 
 }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

   
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

   /* seccion Welcome*/
   #welcome__mensaje {
   position: relative;
   top: 0px;
    }
  
   /* seccion Footer*/
   #footer__loguito {
   display: inherit;
   }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	
}