/*************** COLORES ****************
#aca569
#c8ac75

************** COLORES *****************/


/***************
 HEADER
***************/
.fondo__header {
  background-color: #aca569;
  height: 250px;
  overflow: hidden;
}
/***************
 FIN HEADER
***************/


/***************
 NAV BAR
***************/
.fondo__nav__bar {
  background-color: #c8ac75;
}
/***************
 FIN NAV BAR
***************/



/***************
 CONTENT
***************/

/* Saludo Bienvenida */

/* FIN Saludo Bienvenida */
 


  /* TARJETAS DEL CARRUSEL */
  /* Terjata ALFA */
.contenedor__ALFA {
  position: relative;
  background-color: antiquewhite;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.esquina__ALFA {
  position: absolute;
  right: -50px;
  top: 100px;
  background-color: rgb(225, 191, 148);
  width: 800px;
  height: 800px;
  transform: rotate(45deg);
  z-index: 5;
}
.dibujo__carrusel__ALFA {
  width: 350px;
  height: 350px;
  position: relative;
  top: 80px;
  right: 0px;
  z-index: 10;
  border-radius: 30px;
  transform: rotate(-45deg);
}
/* Terjata BETA */
.contenedor__BETA {
  position: relative;
  background-color: rgb(177, 167, 167);
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.esquina__BETA {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #c8ac75;
  width: 800px;
  height: 800px;
  transform: rotate(45deg);
  z-index: 5;
  overflow: hidden;
}
.dibujo__carrusel__BETA {
  width: 800px;
  height: 800px;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 10;
  border-radius: 30px;
  transform: rotate(-45deg);
}
/* Terjata GAMMA */
.contenedor__GAMMA {
  position: relative;
  background-color: rgb(138, 133, 125);
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.esquina__GAMMA {
  position: absolute;
  left: -30px;
  bottom: -150px;
  background-color: rgb(148, 118, 79);
  width: 500px;
  height: 500px;
  border-radius: 50%;
  z-index: 5;
}
.dibujo__carrusel__GAMMA {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50px;
  bottom: -50px;
  z-index: 10;
  border-radius: 50%;
}
.texto__carrusel {
  z-index: 50;
}
.fotos__carrousel {
  width: 500px;
}
/* FIN CARRUSEL */







/* LO MAS NUEVO */
.lo_mas_nuevo {
  width: 18rem;
}
/* FIN LO MAS NUEVO */





/* ENVIOS A TODO EL PAIS */
#envios__imagen {
  width: 70%;
  border-radius: 15px;
}


/* FIN ENVIOS A TODO EL PAIS */

/***************
FIN CONTENT
***************/



/***************
 FOOTER
***************/
.fondo__footer {
  background-color: linear-gradient(rgba(255, 255, 255, 0.1), rgba(250, 235, 215, 1.0));
  background-image: url('../images/footer__wave.svg');
  background-size: cover;
  background-position: center center;
  
}

/* LOGO */
.footer__loguito {
  width: 200px;
  height: auto;

}

/* REDES */
.iconos__redes {
  font-size: 3rem;  
}

/* INFO */
#footer__info-Block {

}




/***************
FIN FOOTER
***************/





/* RESPONSIVE
========================================================================= */

/* Media Queris */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	
   /* seccion Welcome */
   #welcome__mensaje {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 24rem;
   }
  
   /* seccion footer */
   #footer__loguito {
    display: none;
   }
   .footer__info {
   }

   #footer__info__Block {
    margin-top: 1rem;
    margin-left: auto;
   }

   #footer__redes {
    margin-top: 1rem;
    margin-right: auto;
   }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

/* seccion Welcome */
#welcome__mensaje {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 400px;
 }

 /* seccion footer */
 #footer__loguito {
  display: none;
 }
 .footer__info {
  margin-top: 0;
 }
 #footer__redes {
  padding: 0; 
 }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

   
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

   /* seccion Welcome*/
   #welcome__mensaje {
   position: relative;
   top: 0px;
    }
  
   /* seccion Footer*/
   #footer__loguito {
   display: inherit;
   }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	
}