/***************
 HEADER
***************/
.fondo__header {
  background-color: #aca569;
}
/***************
 FIN HEADER
***************/


/***************
 NAV BAR
***************/
.fondo__nav__bar {
  background-color: #c8ac75;
}
/***************
 FIN NAV BAR
***************/



/***************
 CONTENT
***************/

/* Saludo Bienvenida */
  
/* Saludo Bienvenida */
  
  /* TARJETAS DEL CARRUSEL */
  /* Terjata ALFA */
  .contenedor__ALFA {
  position: relative;
  background-color: antiquewhite;
  width: 100%;
  overflow: hidden;
}
.esquina__ALFA {
  position: absolute;
  right: -50px;
  top: 100px;
  background-color: rgb(225, 191, 148);
  width: 800px;
  height: 800px;
  transform: rotate(45deg);
  z-index: 5;
}
.dibujo__carrusel__ALFA {
  width: 350px;
  height: 350px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  border-radius: 30px;
}
/* Terjata BETA */
.contenedor__BETA {
  position: relative;
  background-color: rgb(177, 167, 167);
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.esquina__BETA {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #c8ac75;
  width: 800px;
  height: 800px;
  transform: rotate(45deg);
  z-index: 5;
  overflow: hidden;
}
.dibujo__carrusel__BETA {
  width: 800px;
  height: 800px;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 10;
  border-radius: 30px;
  transform: rotate(-45deg);
}
/* Terjata GAMMA */
.contenedor__GAMMA {
  position: relative;
  background-color: rgb(138, 133, 125);
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.esquina__GAMMA {
  position: absolute;
  left: -30px;
  bottom: -150px;
  background-color: rgb(148, 118, 79);
  width: 500px;
  height: 500px;
  border-radius: 50%;
  z-index: 5;
}
.dibujo__carrusel__GAMMA {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50px;
  bottom: -50px;
  z-index: 10;
  border-radius: 50%;
}
.texto__carrusel {
  z-index: 50;
}
/* FIN CARRUSEL */


/* LO MAS NUEVO */

#boton__ver-mas {
  position: relative;
  width: 20%;
  left: 37%;
  
}

.boton__pedir {
  margin-left: 35%;
}

/* FIN LO MAS NUEVO */





/* ENVIOS A TODO EL PAIS */

#envios__imagen-mapa{
  position: relative;
  left: 15%;
}

#envios__boton-preguntas {
  margin-left: 30%;
}
/* FIN ENVIOS A TODO EL PAIS */

/***************
FIN CONTENT
***************/







.img__welcome {
  width: auto;
}

.lo_mas_nuevo {
  width: 18rem;
}

.fotos__carrousel {
  width: 500px;
}





/***************
 FOOTER
***************/
.fondo__footer {
  background-color: #c8ac75 ;
}

/* LOGO */
.footer__loguito {
  width: 200px;
  height: auto;
  margin-left: 4.5rem;
}

/* REDES */
.footer__redes {
  position: ;
}

.iconos__redes {
  font-size: 3rem;
  margin-left: ;
  
}

/***************
FIN FOOTER
***************/





/* RESPONSIVE
========================================================================= */

/* Tablets en horizonal y escritorios normales
------------------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 1199px) {
  
  /* Saludo Bienvenida */
  #welcome__imagen {
    margin-left: -20px;
  }

  /* Envios */
  #envios__caja {
    background-image: url(./images/envios_chiquito.jpg);
    background-size: cover;
    background-position: center center;
    opacity: 0.9;
  }
  #envios__imagen-mapa {
    display: none;
  }
  #envios__titulo {
    display: flex;
    justify-content: center;
    align-content:flex-start;
    background-color: rgb(255, 255, 255, 0.6);
    padding-bottom: 50px;
    height: 0;
    width: 400px;
    border-radius: 45px;
    border: 2px solid black ;
    padding-top: 0px;
    margin-left: 27%;
  }

  #envios__boton-preguntas {
    margin-left: 37%;
  }

 
  /* Footer */
  

/* Móviles en horizontal o tablets en vertical
------------------------------------------------------------------------- */
@media (max-width: 767px) {
  #welcome__card {
    background-image: url(./images/placeholder003.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 15px;
  }

  #welcome__imagen {
   display: none;
  }

  #welcome__mensaje {
    color: black;
    background-color: rgb(255, 255, 255, 0.6);
    width: 100%;
    height: auto;
    font-weight: 500;
  }

}

/* Móviles en vertical
------------------------------------------------------------------------- */
@media (max-width: 480px) {

  /* Seccion Welcome */
  #welcome__card {
    height: auto;
  }

  #welcome__imagen {
    display: none;
  }

  #welcome__texto {
    padding-bottom: 0px;
    font-size: 1px;
  }

  #welcome__mensaje {
    
  }

  /* Seccion Envios a todo el Pais */
  
}